<h1>Article {{article._id}}</h1>

<form method="post" action="/article/{{article._id}}/comment">
    <div>
        <select name="likes">
            <option value="like">like</option>
            <option value="unlike">unlike</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Submit Form" />
    </div>
</form>


<p>Comments Section</p>

<form method="post" action="/article/{{article._id}}/comment">
    <div>
        <textarea name="body"></textarea>
    </div>
    <input type="submit" value="create comment" />
</form>

{{#each article.comments}}
    <div>
        <h4>{{this.created}}</h4>
        <p>{{this.body}}</p>
    </div>
{{/each}}